@charset "UTF-8";

body {
	background-image: url("/image/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

input {
	width: 80% !important;
	-moz-opacity: 0.3;
	background-color: transparent !important;
	border: none !important;
	-moz-opacity: 0.3;
}

.login {
	width: 90%;
	height: 40px;
	background-color: deepskyblue;
	color: white;
	border: none;
}

.layui-form-item {
	margin-top: 25px;
}

.layui-input-block {
	margin-left: 5%;
}

.layui-input, .layui-textarea {
	width: 95%;
}

.tipinfo {
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: blod;
}

img {
	height: 16px;
	width: 16px;
	padding-top: 10px;
	margin-right: 20px
}

input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}