<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>菜单管理</title>
<link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css">
<style type="text/css">
.layui-tree-iconClick {
	display: none
}
</style>
</head>
<body>
	<div id="block_menu" class="layui-col-xs4 layui-col-sm5 layui-col-md3"
		style="margin-left: 20px; border: 1px solid #e6e6e6; margin-top: 10px; height: 600px">
		<ul class="layui-nav"
			style="background-color: #e6e6e6; position: relative; z-index: 890; width: 100%; min-height: 50px; line-height: 30px; padding: 10px 15px; border-width: 0 0 1px;">
			<li><button class="layui-btn layui-btn-sm" style="float: left;margin-right: 10px">新增</button></li>
			<li><button class="layui-btn layui-btn-sm" style="float: left;margin-right: 10px">编辑</button></li>
			<li><button class="layui-btn layui-btn-sm" style="float: left;margin-right: 10px">删除</button></li>
		</ul>
		<table id="menu" style="margin-top: 4px; margin: 0 3%"></table>
	</div>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/myjs/menu.js"></script>
</html>