<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/css/layui.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<style type="text/css">
.layui-body{
	overflow: hidden
}
</style>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">后台管理系统</div>
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item layadmin-flexible"><a
					href="javascript:;" title="侧边伸缩"> <i
						class="layui-icon layui-icon-spread-left" id="LAY_app_flexible"></i>
				</a></li>
			</ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img"> <span
						th:text="${user.username}"></span>
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
						<dd>
							<a href="/login/logOut">退出登录</a>
						</dd>
					</dl></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"
						th:each="menu : ${menus}"><a class=""
						th:href="@{${menu.url} }" th:text="${menu.name}"></a>
						<dl class="layui-nav-child"
							th:if="${not #lists.isEmpty(menu.children)}">
							<dd class="layui-this" th:each="m : ${menu.children}">
								<a th:text="${m.name}" th:lay-href="${m.url}"></a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px;">
				<div class="layadmin-tabsbody-item layui-show">
					<iframe frameborder="0"
						style="height:auto; position: absolute;height: 100%;"
						marginheight="0" marginwidth="0;"></iframe>
				</div>
			</div>
		</div>

	</div>
	<script type="text/javascript" src="/js/layui/layui.all.js"></script>
	<script th:inline="javascript">
		layui.use('element', function() {
			var element = layui.element;
		});
		$("a").click(function() {
			var url = this.getAttribute("lay-href");
			$("iframe").attr("src", url);
		})
		
		
        $(function(){
			var single = [[${menus}]];
		})
    </script>
</body>
</html>