<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/css/layui.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<style type="text/css">
.layui-body {
	overflow: hidden
}
</style>
</head>
<body>
	<div class="layui-row">
		<a th:each="phone,iterStat : ${photos}" class="layui-col-xs5"
			style="margin: 4%;padding:10px; background-color: red"
			th:href="@{/photo/detail(id=${phone.id})}" th:text="${phone.name}">
		</a>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		var height = $(".layui-col-xs5").width()
		$(".layui-col-xs5").each(function(index, dom) {
			$(dom).height(height)
		})
	})
</script>
</html>