<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.operation.user.dao.UserMapper">
	<resultMap type="com.smile.operation.user.entity.Users"
		id="userMapper">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="salt" column="salt" />
		<result property="isLocked" column="isLocked" />
		<result property="lockTime" column="lockTime" />
		<result property="registTime" column="registTime" />
	</resultMap>
	<!-- 登录 -->
	<select id="login" resultType="java.lang.Long">
		select id from users where username
		= #{user.username}
		and password =
		#{user.password}
	</select>

	<!-- 根据用户名查询用户 -->
	<select id="findByUserName" resultMap="userMapper">
		select * from users where
		username = #{username}
	</select>
</mapper>